/* body e backgrounds */
body{
    font-family: Averia Libre;
    background-color: #ADD4D0;
    color: #ffffff;
}
.body-bg{
    background-image: url(../assets/body-bg.jfif);
    background-size: 100%;
    height: 700px;
    /* z-index: 1; */
}
/* .body-gradient{
    background-image: url(../assets/body-gradient.png);
    background-size: 100%;
    height: 700px;
    z-index: 2;
    position: absolute;
} */
.form-container{
    height: 600px;
}

/* navbar */
.navbar{
    background-color: #C1E7E3;
}
#navIndex{
    background-color: #8FE1D9;
}
.nav-pills>li+li{
    margin-left: 10px;
}

/* formulários */
form{
    width: 750px;
}

/* cores de textos e botões */
input{
    color: #419ED7 !important;
}

.text-primary{
    color: #419ED7 !important;
}

.bg-primary, .btn-primary, .nav-link{
    background-color: #419ED7 !important;
    border-color: #419ED7 !important;
}

.btn-success{
    background-color: #49B976 !important;
    border-color: #37BD6D !important;
}

.text-danger{
    color: #FD7979 !important;
}

.btn-danger{
    background-color: #FD7979 !important;
    border-color: #FD7979 !important;
}

/* imagens */
.img{
    height: 150px;
}

 /* borda 0 */
.btn, .nav-pills .nav-link, .modal-content, .form-control{
    border-radius: 0 !important ;
}

/* --------------- elementos específicos de cada página ------------------ */

/* index */
.index-h1{
    margin-bottom: 20%;
    color: #419ED7;
    font-size: 3em;
}

/* entrar */
form a, form a:hover{
    color: #419ED7;
}
.recupSenha{    
    position: absolute;
    bottom: 80px;
    left: 45%;
}

/* home */
#search{
    width: 1200px;
}
.card-container{
    width: 1000px;
    column-gap: 50px;
    row-gap: 30px;
}
.card-title{
    font-size: 36px;
}
.card-text{
    font-size: 16px;
}

/* editar vacina*/
.modal-dialog{
    width: 30%;
}
.modal button{
    width: 100px;
}
#btn-excluir{
    position: absolute;
    right: 5px;
    top: 70px;
}